
@import "https://fonts.googleapis.com/css?family=Lato:300,400,700";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{
    display:block
}

body
{
    line-height:1
}

ol,ul
{
    list-style:none
}

blockquote,q
{
    quotes:none
}

blockquote:before,blockquote:after,q:before,q:after
{
    content:'';content:none
}

table
{
    border-collapse:collapse;border-spacing:0
}

*, *::before, *::after {
    box-sizing: border-box;
}

.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background-image: url('../images/bigLogo2.jpg'); /* green background */
    background-position: center;
    background-repeat: no-repeat;
    
}

/* Increase the font size of the <h1> element */
.header h1 {
font-size: 40px;
} 

body {
    font: 14px/22px "Lato",Arial,sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100%;
}
.lighter-text {
    color: rgb(171, 176, 190);
}
.main-color-text {
    color: rgb(99, 148, 248);
}

nav .search-container {
    margin-left: 10px;
    float: inline-end;
    font-size: 17px;
    border: none;
  }

nav .search-container button{
      cursor: pointer;
  }
  
  .navbar-right .search-container button:hover {
    background: #ccc;
  }

nav {
    font-size: 16px;
    padding: 20px 0 40px;
    background-image: linear-gradient(to right,
rgba(255,0,0,0), rgb(46, 81, 162),rgba(255,0,0,0));
}

nav .navbar-left {
    float: left;
}
nav .navbar-right {
    float: right;
    list-style: none;
}
nav ul li {
    display: inline;
    padding-left: 20px;
}

#last   {
    float: inline-end;
}
nav ul li a {
    color: rgb(75, 69, 69);
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(0, 0, 0);
}
.container {
    margin: auto;
    width: 80%;
}

.badge {
    background-color: rgb(99, 148, 248);
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 12px;
    height: 25px;
    line-height: 1;
    padding: 6px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 25px;
}

#cart{
    float: inline-end;
    text-decoration: none;
    color: rgb(75, 69, 69);
}
.shopping-cart {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 3px;
    float: inline-end;
    padding: 20px;
    position: absolute;
    right: 497px;
    width: 320px;
    display: none;
    margin-top: 5px;
    z-index: 1000;
    margin-top: 30px;
}
.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 15px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}
.shopping-cart .shopping-cart-items {
    padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}
.shopping-cart .shopping-cart-items .item-name {
    display: block;
    font-size: 16px;
    padding-top: 10px;
}
.shopping-cart .shopping-cart-items .item-price {
    color: rgb(99, 148, 248);
    font-size: 12px;
    margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
    color: rgb(171, 176, 190);
    font-size: 13px;
}
.shopping-cart::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgb(255, 255, 255);
    border-image: none;
    border-style: solid;
    border-width: 8px;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 89%;
    margin-left: -8px;
    pointer-events: none;
    position: absolute;
    width: 0;
}
.cart-icon {
    color: rgb(81, 87, 131);
    float: left;
    font-size: 24px;
    margin-right: 7px;
}

#search{
    float: right;
    list-style: none;
    padding-left: 10px;
}

.button {
    background: rgb(99, 148, 248) none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255);
    display: block;
    font-size: 16px;
    margin: 25px 0 15px;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}
.button:hover {
    background: rgb(114, 158, 249) none repeat scroll 0 0;
}

.clearfix::after {
    clear: both;
    content: "";
    display: table;
}

    h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
  }
  
  .h3{
    font-size: smaller;
  }
  
  .footer {
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
    padding-bottom: 10px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }

  
/* Main column */
.main {
display: flex;
flex: 70%; /* Set the width of the main content */
background-color: white; /* White background color */
padding: 20px; /* Some padding */
padding-bottom: 100px;
}