@import url(../css/base.css);

#user-box {
    background: rgba(255, 255, 255, 0.9);
    top: auto;
    margin: 5% auto;
    width: 600px;
    height: 550px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.center {
    display: inline-flex;
    top: 10px;
    left: 50px;
    box-sizing: border-box;
    padding: 80px;
    padding-left: 200px;
    width: 300px;
    height: 400px;
}

h1 {
  color: #FFF;
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}


input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
  margin-inline-start: 80px;
}

input[value="Update"]{
  margin-inline-start: 50px;
}

input[value="Logout"]{
  background: #df0000;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.left {
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  height: 400px;
}

textarea{
  width: 224px;
  height: 63px;
}
